/* Assign CSS variables to help eliminate repeat sata entry */
:root {
    --brand-keppel: #3bba46;
    --brand-gunmetal: #2E3047;
    --brand-outer-space: #43455C;
    --brand-arsenic: #3C3F58;
    --brand-rhythm: #60667c;
    --navbar-height: 3rem;
    --transition-time: 1.2s;
}
/* Assign universal attributes to the document */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--brand-keppel);
}
/* Set the base background color for the entire page */
body {
    background-color: var(--brand-gunmetal);
}
/* Set a baseline for links */
a {
    text-decoration-line: none;
    font-size: 1.5rem;
    color: var(--brand-keppel);
}
/* Fix the navbar to the top of the page during scroll and style */
nav {
    position: fixed;
    z-index: 1000;  
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--brand-arsenic);
}
nav > header {
    float: left;
    margin: 0.5rem auto;
    font-size: 1.5rem;
}
nav > ul {
    float: right;
}
nav > ul > li {
    display: inline-block;
    justify-content: right;
    margin: 0.5rem;
}   
/* Add some whitespace to the sides of the main section */
main {
    margin:0 1rem;
}
/* Add a padding on top of each section to ensure the section starts below the navbar when a navigation link is clicked */
.container-section {
    padding-top: var(--navbar-height);
}
/* Customize the portfolio project container to flex */
#portfolio-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.portfolio-project {
    flex-basis: 40%;
    background-color: var(--brand-arsenic);
    position: relative;
    margin: 5%;
}
/* Make the first project bigger than the rest */
#first {
    flex-basis: 90%;
    position: relative;
}
/* Make the entire portfolio project section a clickable link */
.portfolio-project > a {
   position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
}
/* Ensure the project image remains inside the flexible div */
.portfolio-project img {
    width: 100%;
    object-fit: contain;
}
/* Set styles shared between portfolio object header and footer in one spot */
.portfolio-project > header , .portfolio-project > footer {
    position: absolute;
    background-color: var(--brand-rhythm);
    z-index: 100;
    opacity: 0%;
    font-size: 1.2em;
    width: 98%;
    height: 2rem;
    padding: 0 1%;
    visibility: hidden;
    transition: visibility var(--transition-time), opacity var(--transition-time);
}
/* Set properties custom to portfolio object footer */
.portfolio-project > footer {
    bottom: 0;
}
/* Set a baseline opacity and transition rate for the background image container div */
.portfolio-project > div {
    opacity: 100%;
    transition: opacity var(--transition-time);
}
/* Add some cool property changes when the user hovers over a peoject */
.portfolio-project:hover > div {
    opacity: 60%;
}
.portfolio-project:hover > header, .portfolio-project:hover > footer {
    opacity: 90%;
    visibility: visible;
}
/* Ensure the portfolio header takes up its entire row */
#portfolio-section > h2 {
    flex-basis: 100%;
}
#about-me-section > img {
    height: 200px;
}
/* Adjust the size of the image-icons in the contact links */
#contact-section img {
    width: 1.2rem;
    height: 1.2rem;
}
/* Position and style the contact section links */
#contact-section > ul > li {
    display: inline-block;
    justify-content: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: var(--brand-rhythm);
    border-radius: 5px;
    padding: 0.2rem;
}
/* Restyle footer link font size to match surrounding text */
footer a {
    font-size: 1em;
}
/* Below a certain screen size, make all of the portfolio projects one column, keep the first project larger */
@media screen and (max-width: 730px) {
    .portfolio-project {
        flex-basis: 60%;
    }
}